

.navbar-nav {
  padding-top: 10%;
  border-right: 3px solid aliceblue;
  height: 100%;
  position: absolute;
  background-color: darkblue;
  color:aliceblue;
  width: 100%;
  word-wrap: break-word;
}

.main-content {
  overflow: auto;
  min-height: 100%;
  height: 100%;
  width: 100%;
  background-color: dodgerblue;
  color: white;
}

.main-content-container {
  padding: 10%;
  min-height: 100%;
}

.main-content-footer {
  border-top: 3px solid aliceblue;
  background-color: darkblue;
  color: aliceblue;
}
